:root {
  --window-min-height: 500px;
  --bg-aspect-ratio: calc(3456/5184);
  --window-width: calc(var(--bg-aspect-ratio)*100vh);
  --window-min-width: calc(var(--bg-aspect-ratio)*var(--window-min-height));
}

@font-face {
  font-family: "Norse Bold";
  src: url("fonts/Norse-Bold.otf");
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
} 

body {
  display: flex;
}

/* Background */

#background {
  background-image: url("images/husky.jpg");
  background-size: max(var(--window-width), var(--window-min-width)) max(100vh,var(--window-min-height));
  height: 100vh;
  min-height: var(--window-min-height);
  min-width: var(--window-min-width);
  width: max(var(--window-width),var(--window-min-width));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
}

#logo {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 30vh;
  font-family: 'Norse Bold', sans-serif;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(89, 90, 72, 0.3);
  padding: 20px;
}

#odin-logo {
  width: 4rem;
  height: auto;
}

#photo-credit {
  margin: 5px auto;
  font-size: 0.8rem;
  color: white;
}

/* Right Hand Side */

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#main > * {
  flex: 1;
  padding: 0 40vh 0 10vh;
}

/* Hero */

#hero {
  background-color: rgb(240,240,240);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5vh;
}

/* Form */

#form-div {
  padding-bottom: 20px;
  margin-bottom: 5px;
  box-shadow: 1px 5px 10px #CCCCCC;
  max-height: 230px;
  /* border-bottom: 3px solid rgb(220,220,220); */
}

p {
  font-size: 1.2rem;
  font-weight: bold;
}

.field {
  display: flex;
  flex-direction: column;
}

label {
  letter-spacing: 1px;
  font-size: 0.7rem;
}

form {
  display: grid;
  grid-template-columns: repeat(2,200px);
  column-gap: 50px;
  row-gap: 20px;
}

/* Submit */

#submit {
  background-color: rgb(240,240,240);
}

button {
  background-color: darkolivegreen;
  width: 175px;
  height: 40px;
  color: white;
  border: 1px solid darkolivegreen;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 30px 0px;
}

a:link {
  color: darkolivegreen;
  text-decoration: none;
}